<%= form_with(model: tbm, local: true) do |form| %>
  <% if tbm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tbm.errors.count, "error") %> prohibited this tbm from being saved:</h2>

      <ul>
        <% tbm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :add %>
    <%= form.text_field :add %>
  </div>

  <div class="field">
    <%= form.label :kin %>
    <%= form.number_field :kin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
